In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Данные для тестового задания - Данные об аудитории.csv')

In [3]:
df.head()

         date                               user_id  view_adverts
0  2023-11-11  8c020470-8461-11ed-83d0-552e8cc749d6            13
1  2023-11-18  5875f070-7b92-11ee-a6fb-8b298e83f4f7            14
2  2023-11-29  3c2d27c0-4fd6-11eb-b89f-2ffb31b67dd6            21
3  2023-11-29  234a96d0-ad16-11ed-a2e6-793ddfeeba1f            23
4  2023-11-29  4d07c180-644f-11eb-879c-b7c02edf4f37            12

In [4]:
print(df.shape)

(16814, 3)

In [5]:
df['user_id'].nunique()

7639

In [12]:
df[df['view_adverts'] > 0].count()

date            6756
user_id         6756
view_adverts    6756
dtype: int64

In [18]:
7639 / 30

254.63333333333333

In [49]:
df2[df2['view_adverts'] == 0]

KeyError: 'Column not found: False'

In [15]:
df['view_adverts'].ma

126

In [20]:
df[df['view_adverts'] == 0]

             date                               user_id  view_adverts
374    2023-11-11  c5c3f8e0-805e-11ee-b828-4b47cdbdd931             0
375    2023-11-11  5f2afc00-78cf-11ee-b854-b99a46e8257e             0
376    2023-11-11  580b1600-5aeb-11ee-a31a-718c9cb74cd4             0
377    2023-11-11  fbaeb4c0-23a9-11ee-a5e0-63597bbc5fd5             0
378    2023-11-11  ccddf9f0-faef-11ec-a6ac-a31df73dcb6b             0
...           ...                                   ...           ...
10427  2023-11-15  30a30da0-833d-11ee-9f8a-9b2d0e7116d9             0
10428  2023-11-15  aa687b50-57f9-11ec-8daa-e56655ea343f             0
10429  2023-11-15  abdda0a0-734c-11ec-89dd-4f6164320d3f             0
10430  2023-11-15  8b142ef0-0cf5-11ed-8af1-63871af601f1             0
10431  2023-11-15  9a319ec0-1fa9-11ec-be36-83539b7c3b62             0

[10058 rows x 3 columns]

In [26]:
df2 = df.groupby('date')

In [82]:
df0111 = df[df['date'] == '2023-11-01']['user_id']

In [83]:
df011arr = df0111.tolist()

In [89]:
len(df011arr)

623

In [51]:
df0211 = df[df['date'] == '2023-11-02']['user_id']

In [92]:
df0211arr = df0211.tolist()

In [94]:
result=list(set(df011arr) & set(df0211arr))

In [96]:
len(result)

166

In [98]:
166/623 *100

26.64526484751204

In [100]:
if len(df011arr) != len(set(df011arr)):
    print("Есть дубликаты")
else:
    print("Дубликатов нет")

Дубликатов нет

In [106]:
df[df['view_adverts'] > 0].nunique()

date              30
user_id         3538
view_adverts      55
dtype: int64

In [ ]:
6756

In [105]:
df['user_id'].nunique()

7639

In [108]:
3538/7639

0.4631496269145176

In [111]:
df3 = df[df['view_adverts'] > 0]

In [113]:
df3.describe()

       view_adverts
count   6756.000000
mean       3.243635
std        5.250596
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max      126.000000

In [114]:
df.sum()

date            2023-11-112023-11-182023-11-292023-11-292023-1...
user_id         8c020470-8461-11ed-83d0-552e8cc749d65875f070-7...
view_adverts                                                21914
dtype: object

In [115]:
21914 / 7639

2.8687000916350307

In [117]:
1200/2000

0.6

In [118]:
500/2000

0.25

8. Во вкладке "Данные АБ-тестов" результаты трех несвязанных АБ тестов для ARPU (общая выручка/общее количество пользователей).
Посмотрите на результаты тестов и интерпретируйте их. Напишите значения p-value, которые вы получили.
Подготовьте выводы и рекомендации. 

experiment_num - номер эксперимента
experiment_group - группа, в которую попал пользователь
user_id - id пользователя
revenue - выручка, которую сгенерировал пользователь, купив платную услугу продв

получается была какая то фича на тестовую группу и запущен аб тест, по итогу есть эти показатели. мне надо расчитать ARPUtest, ARPUcontrol по 3 раза.
затемижения

In [3]:
dfAB = pd.read_csv('Данные для тестового задания - Данные АБ тестов.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Данные для тестового задания - Данные АБ тестов.csv'

In [124]:
dfAB.head()

   experiment_num experiment_group   user_id  revenue
0               1             test     38456      520
1               1          control  13125924      806
2               1          control   9761984        0
3               1             test  11387012      208
4               1             test  18319648      104

In [165]:
H0: arpu same
H1: ARPUtest not same ARPUcontrol

SyntaxError: invalid syntax (4257662283.py, line 1)

In [179]:
import statsmodels.api as sm
from scipy.stats import norm
from scipy.stats import mannwhitneyu
from scipy.stats import shapiro

0.6555171300423048

In [4]:
group_A = dfAB[dfAB['experiment_group'] == 'control']['revenue']
group_B = dfAB[dfAB['experiment_group'] == 'test']['revenue']

NameError: name 'dfAB' is not defined

In [ ]:

norm_control_p = shapiro(group_A).pvalue
norm_test_p = shapiro(group_B).pvalue

In [ ]:
mannwhitney_results = []
for experiment in dfAB['experiment_num'].unique(): # [1,2,3]
    exp_data = dfAB[dfAB['experiment_num'] == experiment]
    control = exp_data[exp_data['experiment_group'] == 'control']['revenue']
    test = exp_data[exp_data['experiment_group'] == 'test']['revenue']
    
    # Mann-Whitney U test
    u_stat, p_value = mannwhitneyu(control, test, alternative='two-sided')
    
    # Mean revenue (for reference)
    ARPU_control = control.sum() / control.nunique()
    ARPU_test = test.sum() / test.nunique()
    
    # Append results
    mannwhitney_results.append({
        'experiment_num': experiment,
        'ARPU_control': ARPU_control,
        'ARPU_test': ARPU_test,
        'p_value': p_value
    })

In [ ]:
mannwhitney_results_df = pd.DataFrame(mannwhitney_results)
mannwhitney_results_df

In [185]:
df3 = pd.read_csv('Данные для тестового задания - Листеры.csv')

In [186]:
df3.head()

   user_id        date  cnt_adverts  age  cnt_contacts  revenue
0      100  2022-01-01            6   21           119       53
1      100  2022-01-02            2   21           200       18
2      100  2022-01-03            6   21           193       42
3      100  2022-01-04            2   21           143       38
4      100  2022-01-05            2   21           190       40

In [196]:
df3.describe()

          user_id  cnt_adverts         age  cnt_contacts     revenue
count  158.000000   158.000000  158.000000    158.000000  158.000000
mean   115.101266     2.886076   27.424051     94.031646   30.702532
std      9.008976     2.028380    4.640303     60.231128   16.575060
min    100.000000     0.000000   20.000000      0.000000    0.000000
25%    107.000000     1.000000   22.750000     42.000000   17.000000
50%    115.000000     3.000000   28.000000     92.500000   31.000000
75%    123.000000     5.000000   31.000000    148.500000   45.000000
max    130.000000     6.000000   36.000000    200.000000   60.000000

In [199]:
df3.groupby('user_id')['age'].median().median()

28.0

In [193]:
df3.groupby('user_id').describe()

        cnt_adverts                                                  age  \
              count      mean       std  min   25%  50%   75%  max count
user_id
100             7.0  2.714286  2.360387  0.0  1.50  2.0  4.00  6.0   7.0
101             3.0  3.000000  2.645751  0.0  2.00  4.0  4.50  5.0   3.0
102             5.0  3.600000  1.816590  2.0  2.00  3.0  5.00  6.0   5.0
103             4.0  2.500000  1.290994  1.0  1.75  2.5  3.25  4.0   4.0
104             5.0  3.200000  2.280351  1.0  1.00  3.0  5.00  6.0   5.0
105             6.0  1.666667  0.516398  1.0  1.25  2.0  2.00  2.0   6.0
106             8.0  2.875000  2.587746  0.0  0.00  3.5  4.50  6.0   8.0
107             3.0  2.666667  1.154701  2.0  2.00  2.0  3.00  4.0   3.0
108             4.0  2.750000  1.707825  1.0  1.75  2.5  3.50  5.0   4.0
109             6.0  4.166667  2.228602  0.0  4.00  4.5  5.75  6.0   6.0
110             2.0  3.500000  2.121320  2.0  2.75  3.5  4.25  5.0   2.0
111             8.0  4.250000  2.052873  0.0  3.75  4.5  6.00  6.0   8.0
112             5.0  3.000000  0.707107  2.0  3.00  3.0  3.00  4.0   5.0
113             4.0  2.250000  2.629956  0.0  0.75  1.5  3.00  6.0   4.0
114             6.0  3.166667  2.483277  0.0  1.50  3.0  5.25  6.0   6.0
115             6.0  2.166667  1.722401  0.0  0.75  3.0  3.00  4.0   6.0
116             5.0  3.400000  2.408319  0.0  2.00  4.0  5.00  6.0   5.0
117             3.0  1.666667  2.886751  0.0  0.00  0.0  2.50  5.0   3.0
118             6.0  0.833333  1.602082  0.0  0.00  0.0  0.75  4.0   6.0
119             2.0  3.500000  3.535534  1.0  2.25  3.5  4.75  6.0   2.0
120             9.0  2.777778  1.922094  0.0  1.00  3.0  4.00  6.0   9.0
121             5.0  4.200000  1.643168  2.0  3.00  5.0  5.00  6.0   5.0
122             2.0  2.000000  0.000000  2.0  2.00  2.0  2.00  2.0   2.0
123             8.0  4.125000  1.642081  2.0  2.75  4.5  5.25  6.0   8.0
124             6.0  4.000000  2.190890  0.0  3.50  5.0  5.00  6.0   6.0
125             4.0  2.250000  1.707825  0.0  1.50  2.5  3.25  4.0   4.0
126             7.0  3.142857  2.340126  0.0  1.50  3.0  5.00  6.0   7.0
127             2.0  3.000000  1.414214  2.0  2.50  3.0  3.50  4.0   2.0
128             8.0  2.375000  1.995531  0.0  0.75  2.5  3.50  5.0   8.0
129             2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0   2.0
130             7.0  1.142857  1.864454  0.0  0.00  0.0  1.50  5.0   7.0

               ... cnt_contacts        revenue                              \
         mean  ...          75%    max   count       mean        std   min
user_id        ...
100      21.0  ...       195.50  200.0     7.0  37.285714  10.873734  18.0
101      30.0  ...        43.50   45.0     3.0  38.333333  21.126603  14.0
102      34.0  ...       100.00  111.0     5.0  18.600000  17.672012   3.0
103      36.0  ...       145.75  184.0     4.0  34.500000  17.406895  18.0
104      21.0  ...       146.00  149.0     5.0  33.600000  18.541845   5.0
105      32.0  ...       108.75  121.0     6.0  35.833333  15.917496  13.0
106      25.0  ...       161.00  197.0     8.0  21.750000  14.743037   1.0
107      28.0  ...       164.00  179.0     3.0  27.333333  17.097758  16.0
108      21.0  ...       122.25  162.0     4.0  18.000000   9.797959   6.0
109      28.0  ...       139.25  157.0     6.0  36.333333  12.847827  25.0
110      20.0  ...       130.25  150.0     2.0  32.500000  33.234019   9.0
111      31.0  ...        89.50  146.0     8.0  31.250000  18.971784   2.0
112      26.0  ...       156.00  186.0     5.0  23.000000  16.294171   3.0
113      26.0  ...        92.25  105.0     4.0  30.000000  11.860298  16.0
114      21.0  ...       173.50  183.0     6.0  21.833333  10.684880   6.0
115      29.0  ...       149.75  189.0     6.0  37.000000   9.757049  24.0
116      27.0  ...       104.00  168.0     5.0  37.400000  13.903237  19.0
117      30.0  ...       158.00  162.0     3.0  44.333333  13.316656  33.0
118      25.0  ...        61.00   97.0     6.0  26.333333  23.252240   4.0
119      35.0  ...       162.75  170.0     2.0  46.500000   0.707107  46.0
120      22.0  ...       158.00  161.0     9.0  27.888889  15.128156   2.0
121      28.0  ...        22.00  162.0     5.0  14.400000  11.844830   3.0
122      35.0  ...       170.75  179.0     2.0  36.000000   0.000000  36.0
123      31.0  ...       131.50  191.0     8.0  31.000000  20.318886   1.0
124      36.0  ...       119.50  179.0     6.0  39.166667   7.600439  30.0
125      30.0  ...       141.25  175.0     4.0  32.250000  24.005208   0.0
126      26.0  ...       117.50  179.0     7.0  26.571429  19.095001   3.0
127      36.0  ...       120.50  150.0     2.0  34.500000  28.991378  14.0
128      29.0  ...       131.75  152.0     8.0  38.875000  15.994977  16.0
129      25.0  ...       103.00  136.0     2.0  39.000000  12.727922  30.0
130      22.0  ...       176.50  185.0     7.0  27.142857  22.534629   0.0


           25%   50%    75%   max
user_id
100      34.00  40.0  41.00  53.0
101      31.50  49.0  50.50  52.0
102       8.00  11.0  24.00  47.0
103      26.25  30.5  38.75  59.0
104      27.00  39.0  44.00  53.0
105      24.00  42.5  47.50  50.0
106      10.75  22.5  31.50  45.0
107      17.50  19.0  33.00  47.0
108      12.00  20.0  26.00  26.0
109      27.00  32.0  42.25  58.0
110      20.75  32.5  44.25  56.0
111      17.50  32.5  45.75  54.0
112      17.00  23.0  24.00  48.0
113      25.75  29.5  33.75  45.0
114      15.25  23.5  29.50  34.0
115      29.25  39.0  45.00  47.0
116      28.00  39.0  50.00  51.0
117      37.00  41.0  50.00  59.0
118       7.25  20.0  45.50  57.0
119      46.25  46.5  46.75  47.0
120      17.00  32.0  39.00  48.0
121       4.00  12.0  23.00  30.0
122      36.00  36.0  36.00  36.0
123      13.75  34.0  49.25  53.0
124      36.50  38.0  39.50  53.0
125      25.50  35.5  42.25  58.0
126      13.00  26.0  39.50  52.0
127      24.25  34.5  44.75  55.0
128      26.25  41.0  51.25  59.0
129      34.50  39.0  43.50  48.0
130       8.50  27.0  43.00  60.0

[31 rows x 32 columns]

In [195]:
4851/31

156.48387096774192